
/* left-half of the screen where is the logo and the FEDEPAT's legend */

/* screen half */
.Main-Container {
    position: fixed;
    top: 0;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: #F3F5F9;
    justify-content: center;
    align-items: center;
}

/* FEDEPAT image */
.Main-Img{
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

}

/* FEDEPAT legend */
.Logo-Text{
    text-align: center;
    font-style: italic;
    color: #02174A;
    font-size: 1em;
}





/* This is the left-half of the screen where are the buttons and the textfields */

.Main-Login{ 
    /* Align in the center as a column */
    display: flex;
    left: 50%; /* applies a margin of 50% of the screen */ 
    flex-direction: column;
    align-items: center; /* Center the items horizontally */

    /* Put all the stuff in the right-center left part of the screen */
    position: fixed;
    top: 0; 
    right: 50%;
    width: 50%;
    height: 100%;

    background-color: #FFFFFF;
    justify-content: center; /* Center the items horizontally */
    
}




/* Registrarse como Delegado */
.Title{
    font-size: x-large;
    color: #02174A;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    padding-left: 15%;
    margin-bottom: 5%;
    
}


/* Email Contrasena Nombre Apellidos Telefono */
.Sub-Title{
    color: #02174A;
    text-align: left;
    font-weight: bold;
    font-size: small;
    width: 60%;
    padding-top: 2%;
    padding-bottom: 1%;

}

/* Password label */
.Sub-Title-Password{
    color: #02174A;
    text-align: left;
    margin-left: 20%;
    font-weight: bold;
    font-size: small;
    width: 60%;
    padding-top: 2%;
    padding-bottom: 1%;

}


/* nombre apellidos email telefono */
.Input-Personal-Data{
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    border-color: #B4B6BA;
    width: 90%;    
    height: 40px;
    padding-left:10px;
    /* Text apart */
    color: #02174A;
    font-family: 'Roboto', sans-serif;
}


/* password */
.Input-Personal-Password{
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    border-color: #B4B6BA;
    width: 40%;    
    height: 40px;
    padding-left:10px;
    /* Text apart */
    color: #02174A;
    font-family: 'Roboto', sans-serif;
}


/* How the texfields are gonna be looked when they are focus */
input:focus{
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    border-color: #02174A;

}


/* The hint text inside the textfields when this is empty */
::placeholder{
    color: #858585;
    font-size: smaller;
    font-style: italic;
}



/* This is all the design of the sign up button and its text */
.Button-Signup{
    margin-top: 10%;
    background-color: #4876A6;
    color: white;
    font-weight: bold;
    font-size: small;
    border-radius: 3px;
    border-width: 0px;
    width: 50%;
    height: 40px;
}





/* Put an element next to other */

.Line-Inputs{
    display: flex;
    width: 80%;
}

.Line-Inputs-Blocks{
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 3%;
}
